
@use 'colors';

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  background-color: rgba(colors.$bg, 0.6);
  color: colors.$fg;
  //padding: 10px;
  font-size: 16px;
  font-family: "System-ui";
   // filter: blur(5px);
}

.bar_external {
  background-color: rgba(colors.$bg, 0.6);
  color: colors.$fg;
  //padding: 10px;
  font-size: 16px;
  font-family: "System-ui";
   // filter: blur(5px);
}

.container{
    padding: 0px;
    padding-left: 0px;

}

.launcher {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 28px;
    margin-left: 8px;
}

.launcher:hover {
    color: colors.$bg;
    background-color: colors.$fg;
}


.ws-button{
    border-radius: 50%;
    //font-size: 30px;
    margin: 0;
}

.ws-button:hover{
    //background: #333333;
    color: #ff0000;
}

.ws-but{
    font-size: 30px;
    margin: 0;
    border-radius: 0%;
    color: #444444;
    //background-color: #000000;
}

.ws-but:hover{
    color: #ff0000;
}



.dot{
    color: #00ff00;
    border-radius: 0%;
    padding: 0;
    margin: 0;
}

.con{
    font-size: 26px;
    margin-right: 8px;
    margin-left: 16px;
    padding-left: 14px;
    padding-right: 14px;
}

.con:hover{
    color: #ff0000;
    background-color: rgba(#2a2a2a, 0.8);
}

.workspaces {
    padding: 4px;
}

.ws-icon{
    padding-left: 4px;
    padding-right: 4px;
}

.empty{
    color: #444444;
    font-size: 14px;
}

.empty:hover{
    color: #00ff00;
    font-size: 20px;
}

.occupied{
    color: #ff9f00;
    font-size: 20px;
}

.occupied:hover{
    color: #00ff00;
}


.current{
    color: #00ff3a;
    font-size: 20px;
}


.wifi{
    font-size: 26px;
}

.wifi-bg{
   color: #444444; 
}


.window-name{
    padding-left: 14px;
}

.battery{
    font-size: 26px;
}

.battery-bg{
    font-size: 26px;
    color: #00ff00;
}

.battery-critical{
    color: #ff0000;
}

.volume{
    font-family: "icon_font";
    font-size: 24px;
}

.volume-bg{
    font-family: "icon_font";
    font-size: 24px;
    color: #444444;
}

.icon{
    font-family: "icon_font";
    //font-size: 24px;
}

.calendar{
    background-color: rgba(colors.$bg, 0.9);
    padding: 0px;

}

.system_menu{
    border-radius: 10px;
}

.system-menu-container{
    border-radius: 10px;
    padding: 40px;
    background-color: rgba(colors.$bg, 0.7);
}

.system-stats{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(colors.$bg, 0.7);
}

.sliders{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(colors.$bg, 0.7);
}

.sliders scale trough highlight {
  all: unset;
  background-color: #00ff00;
  color: #000000;
  border-radius: 10px;
}
.sliders scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 20px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}


.menu-widget{
    padding: 10px;
    border-radius: 14px;
    background-color: rgba(colors.$bg, 0.7);

}

// Derived from: https://github.com/Axarva/dotfiles-2.0/blob/main/config/eww-1920/eww.scss
.pfp{
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 300px;
    min-width: 60px;
    min-height: 60px;
    background-size: 60px;
    margin: 8px;
    background-image: url("/home/ghost/Pictures/zero.jpeg")
}
